<tr class="event">
    <td><h1><%= event.name %></h1></td>
    <% #@user = event.user %>
    <td><%= event.user.last_name + ' ' + 
        event.user.first_name %></td> 
    <td><%= event.participations.count %></td>
    <td><%= number_format_people_count(event.id) %></td> 
    <td><%= event.timeStart.strftime('%H:%M') %></td>
    <td><%= event.data.strftime('%d.%m.%Y') %></td>    
    

    <% if can? :read, Event %>
        <td><%= link_to 'Show', event %></td>
    <% end %>
    
    <% if can? :manage, Event %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, 
        data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>

