= form_tag("/filter_events", method: "get") do |f|
  .field
    = label_tag :name
    %br/
    = text_field_tag :name
  .field
    = label_tag :adress
    %br/
    = text_field_tag :adress
  .field
    = label_tag :description
    %br/
    = text_field_tag :description
  .field
    = label_tag :data, 'Exact date'
    %br/
    = text_field_tag :data
  .field
    = label_tag :timeStart
    %br/
    = text_field_tag :timeStart
  -#
    .field
      = label_tag :endTime
      %br/
      = text_field_tag :endTime
  .field
    = label_tag :start_date
    %br/
    = text_field_tag :start_date
  .field
    = label_tag :end_date
    %br/
    = text_field_tag :end_date
  .actions
    = submit_tag