<div><h1>Ви в проекті my-urban</h1></div>



<div><% if user_signed_in? %>
    <span>Вітаю, <%= current_user.first_name + ' ' + current_user.last_name %></span>
    <%= link_to 'Вийти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Вхід', new_user_session_path %> або <%= link_to 'Реєстрація', new_user_registration_path %>
<% end %></div>
</br>

<% if can? :create, Category %>
<%= link_to 'Категорії', categories_path %>
<% end %></br>

<%= form_tag(@event, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Event by title" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
</br>
<%= form_tag("/events", method: "get") do |f| %>
  <div class="field">
    <%= label_tag :state_id  %>
    <br/>
    <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name, :selected => params[:state_id]) %>
  </div>
  <div class="field">
    <%= label_tag :data, 'Exact date' %>
    <br/>
    <%= date_field_tag :data %>
  </div>
  <div class="field">
    <%= label_tag :category_id  %>
    <br/>
    <%= select_tag :category_id, options_for_select( categories_collection), { :include_blank => "All events #{Event.all.count}" } %>
  </div>
  <div class="field">
    <%= label_tag :people_count  %>
    <br/>
    <%= select_tag :people_count, options_for_select(Event.counts_of_people), { :include_blank => 'Select type' } %>
  </div>
  <div class="field">
    <%= label_tag :event_type  %>
    <br/>
    <%= select_tag :event_type, options_for_select(Event.types_of_event), { :include_blank => 'Choose type: open or close?' } %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>


<h1>Список подій</h1>

<% if Event.exists? %>
<table id="events">
  <thead>
    <tr>
      <th>Event name</th>
      <th>Хто створив</th>
      <th>Учасники</th>
      <th>max Учасників</th>
      <th>Година</th>
      <th>Дата</th>
      <th>Тип події</th>
      <th colspan="7"></th>
    </tr>
  </thead>
   
    <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
    <% end %>

  <tbody class="page">
    <%@events.each do |event| %>
      <%=render partial: 'event', locals: {event: event}%>
      <%@last_date = event.data%>
    <%end%>
  </tbody>
</table>

<div id="scroll" style="display: none;">
<%= paginate @events, :remote => true %>
</div>
</br>


<% end %>

<!--
<h1>Список моїх подій</h1>
<table>
  <thead>
    <tr>
      <th>Event name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
   
    <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
    <% end %>

  <tbody>
    <%if user_signed_in?%>
      <% current_user.events.each do |event| %>
        <tr>
          <td><h1><%= event.name %></h1></td>    
          

          <% if can? :read, Event %>
          <td><%= link_to 'Show', event %></td>
          <% end %>
          
          <% if can? :manage, Event %>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Invite user to event',invite_path(:event_id => event.id) %></td>
      
          <% end %>
        </tr>
      <% end %>
    <%end%>
  </tbody>
</table>

<% if can? :create, Event %>
<%= link_to 'Створити подію', new_event_path %>
<% end %>
-->



