<div><h1>Ви в проекті my-urban</h1></div>



<div><% if user_signed_in? %>
    <span>Вітаю, <%= current_user.first_name + ' ' + current_user.last_name %></span>
    <%= link_to 'Вийти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Вхід', new_user_session_path %> або <%= link_to 'Реєстрація', new_user_registration_path %>
<% end %></div>
</br>

<% if can? :create, Category %>
<%= link_to 'Категорії', categories_path %>
<% end %></br>

<%= form_tag(@event, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Event by title" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
</br>
<%= form_tag("/events", method: "get") do |f| %>
  <div class="field">
    <%= label_tag :state_id  %>
    <br/>
    <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name, :selected => params[:state_id]) %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
<%= form_tag("/events", method: "get", remote: true) do |f| %>
  <div style="display:none">
    <%= label_tag :state_id  %>
    <br/>
    <%= select_tag :state_id, options_from_collection_for_select(State.all, :id, :name, :selected => params[:state_id]) %>
  </div>
  <div class="field">
    <%= label_tag :urban  %>
    <br/>
    <%= text_field_tag :urban, nil, id: 'user_city' %>
  </div>
  <div class="field">
    <%= label_tag :data, 'Exact date' %>
    <br/>
    <%= date_field_tag :data %>
  </div>
  <div class="field">
    <%= label_tag :category_id  %>
    <br/>
    <%= select_tag :category_id, options_for_select( categories_collection), { :include_blank => "All events #{Event.all.count}" } %>
  </div>
  <div class="field">
    <%= label_tag :people_count  %>
    <br/>
    <%= select_tag :people_count, options_for_select(Event.counts_of_people), { :include_blank => 'Select type' } %>
  </div>
  <div class="field">
    <%= label_tag :event_type  %>
    <br/>
    <%= select_tag :event_type, options_for_select(Event.types_of_event), { :include_blank => 'Choose type: open or close?' } %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>


<h1>Список подій</h1>

<div id="posts">
  <%=render 'list_events'%>
</div>
<%= will_paginate @events %>






