<p id="notice"><%= notice %></p>

<p>
<strong>Категорія:</strong>
<%= Category.find_by_id(@event.category_id).title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @event.adress %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Data:</strong>
  <%= @event.data %>
</p>

<p>
  <strong>Timestart:</strong>
  <%= @event.timeStart %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @event.endTime %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% if user_signed_in? %>
  <%if @p.count == 1%>
    <p>Status: <%=@p.first.status%></p>
    Change your mind
  <%end%>
  <%= simple_form_for @plan do |f| %>
    <%= f.hidden_field :measure_id,  value: @event.id %>
    <%= f.submit 'Comming', name: 'comming'%>
    <%= f.submit 'Maybe', name: 'maybe'%>
    <%= f.submit 'Not Comming', name: 'not_comming'%>
  <%end%>
<% end %>