<h1>Listing categories</h1>
<%= link_to 'New Category', new_category_path %></br>
<% if Category.exists? %>
<table id="categories">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="page">
<<<<<<< HEAD
    <%= render @categories %>   
=======
    <%= render @categories %>
>>>>>>> added endlesspage to categories
  </tbody>

</table>
<<<<<<< HEAD
 <div id="scroll" style="display: none;">
    <%= paginate @categories %>
  </div>
=======
<%= paginate @categories %>
<% end %>


>>>>>>> added endlesspage to categories

<br>
<%= link_to 'Back', events_path %>
<% end %>




