<!DOCTYPE html>
<html>
<head>
  <title>Myurban</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
    <span>Вітаю, <%= current_user.first_name + ' ' + current_user.last_name %></span>
    <%= link_to 'Вийти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Вхід', new_user_session_path %> або <%= link_to 'Реєстрація', new_user_registration_path %>
<% end %>
<%= yield %>

</body>
</html>
